.chart {
  height: 400px;
  background-color: white;
}

.chart .tick text {
  transform: translate(36px, 18px);
}

.axis path {
  fill: none;
  stroke: var(--color-light-gray);
  shape-rendering: crispEdges;
}

.axis line {
  display: none;
}

.axis text {
  color: var(--color-muted-text);
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.ThisYear path,
.LastYear path {
  fill: none;
  stroke-width: 3px;
}

.ThisYear path { stroke: var(--color-blue) }
.LastYear path { stroke: #9ba6be }
